<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker" >选择文件</div>
        <button id="ctlBtn" class="btn btn-">开始上传</button>
    </div>
</div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webuploader/webuploader.min.js"></script>
<script src="/upload.js"></script>
</body>
</html>